body{
  background-image: url(../Images/516512.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.logo{
         
  margin: 0%;
  margin: auto;
  left: 0%;
  right: 100%;
  top: 0%;
  position: absolute;
  width: 80px;
}
.contact{
         
  margin: 0%;
  margin: auto;
  left: 95%;
  right: 100%;
  top: 15%;
  position: absolute;
  width: 180px;
}

table, th, td {
    border:5px inset rgb(16, 26, 36);
    width: 900px;
    height: 100px;
    margin: 0 auto;
          
      }         
      
h1{
  text-align: center;
  font: size 100px;;

  }
th{
text-transform: uppercase;
}
.blanco{
  color: white;

}
.unoIndex{

 
  color: rgb(230, 11, 11);
  font-size: 40px;

   
}
.dosIndex{
  color:rgb(108, 109, 108) ;
  font-size: 40px;

}
.tresIndex{
  color: aqua;
  font-size: 40px;

  
}
.cuatroIndex{
  color: rgb(16, 57, 236);
  font-size: 40px;

}
.style-1 {
  border: 10px solid rgb(107, 22, 218);
  background-color: rgb(77, 238, 250);
  text-align: center;
  color: white;
  margin: 0 auto;
  padding: 10px;
  color: black;
    }
[class*="col-"] {
      float: left;
      padding: 20px;
    }
@media only screen and (max-width: 800px) {
      /* For mobile phones: */
      [class*="col-"] {
        width: 500%;
      }
    }
.twiter{

height:50px;
width: 100px;
margin: 0%;
margin: auto;
left: 83%;
right: 0%;
top: 0%;
position: absolute;
width: 80px;
}

.insta{
height:50px;
 width: 100px;
 margin: 0%;
margin: auto;
left: 63%;
right: 0%;
top: 0%;
position: absolute;
width: 80px;
}
.facebook{
height:50px;
 width: 900px;
 margin: 0%;
margin: auto;
left: 73%;
right: 0%;
top: 0%;
position: absolute;
width: 80px;
}
.Gmail{
height:50px;
 width: 100px;
 margin: 0%;
margin: auto;
left: 93%;
right: 0%;
top: 1%;
position: absolute;
width: 80px;
}


.barra{
margin: 0%;
  margin: auto;
  left: 0%;
  right: 100%;
  top: 10%;
  position: absolute;
  width: 20%;
}
.navbar {
overflow: hidden;
background-color: #333;
top: 10%;
}

.navbar a {
float: left;
font-size: 16px;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

.dropdown {
float: left;
overflow: hidden;
top: 0%;
}

.dropdown .dropbtn {
font-size: 16px;  
border: none;
outline: none;
color: white;
padding: 14px 16px;
background-color: inherit;
font-family: inherit;
margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
background-color: rgb(87, 245, 245);
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

.dropdown-content a:hover {
background-color: #ddd;
}

.dropdown:hover .dropdown-content {
display: block;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 150px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
  background-color: white;
}
@media screen and (max-width: 1024px) {
  body {
      font-size: 14px; /* Reducir el tamaño de fuente para pantallas medianas */
  }
}

/* Media query para pantallas pequeñas */
@media screen and (max-width: 868px) {
  body {
      font-size: 30px;
       /* Reducir aún más el tamaño de fuente para pantallas pequeñas */
       
  }
  table{
    width: 10px;
  }
  h1{
    color: red;
   }
   
}
@media screen and (max-width: 468px) {
  body {
      font-size: 50px;
       /* Reducir aún más el tamaño de fuente para pantallas pequeñas */
       
  }
  table{
    width: 10px;
  }
  h1{
    color: rgb(0, 217, 255);
   }
   
}