p::first-letter{
    color: rgb(31, 233, 223);
    font-size: 40px;

  }
    .style-1 {
 border: 10px solid brown;
 background-color: rgb(175, 57, 57);
 text-align: left;
 color: white;
 margin-right: 30%;
 padding: 10px;
    }
    .style-2 {
 border: 2px dashed  rgb(14, 14, 14);
 background-color: rgb(90, 97, 86);
 text-align: left;
 color: white;
 margin-right: 30%;
 padding: 10px;
    }
   body{
      background-color: rgb(216, 145, 145);
   }
   @media only screen and (max-width: 800px) {
      /* For mobile phones: */
      [class*="col-"] {
        width: 100%;
      }
    }
    [class*="col-"] {
      float: left;
      padding: 20px;
    }